<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    
    <a href="/" class="site-title"><h1>Place Blogging<span class="subtitle">: Local Economies of Attention in the Network</span></h1></a>
   
   <button type="button" class="js-menu-trigger sliding-menu-button">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
   </button>
   
   <nav class="js-menu sliding-menu-content" role="navigation">
        <ul class="menu nav">
            <li><a href="1-abstract.html">Abstract</a></li>
            <li><a href="2-acknowledgements.html">Acknowledgements</a></li>
            <li><a href="3-preface">Preface</a></li>
            <li><a href="4-introduction.html">Introduction</a></li>
            <li><a href="5-chapter1.html">1. Remediating Attention</a></li>
            <li><a href="6-chapter2.html">2. Inventing the Self-in-Place</a></li>
            <li><a href="7-chapter3.html">3. Zooming in on Place</a></li>
            <li><a href="8-chapter4.html">4. The Lure of the Local</a></li>
            <li><a href="9-chapter5.html">5. Geographies of Audience</a></li>
            <li><a href="10-epilogue.html">Epilogue</a></li>
            <li><a href="11-notes.html">Notes</a></li>
            <li><a href="12-workscited.html">Works Cited</a></li>
            <li><a href="13-defense.html">Dissertation Defense</a></li>
            <li><a href="14-ecotone.html">Ecotone Archives</a></li>
        </ul>
  </nav> 
  

   <div class="js-menu-screen sliding-menu-fade-screen"></div>

  </div>
</header>
