<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <title>{% block header-title %}{% endblock %}</title>
        
        <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
        
        <link rel="shortcut icon" type="image/ico" href="/assets/vendor/html5-boilerplate/dist/favicon.ico">
        <link href="assets/vendor/html5-boilerplate/dist/css/normalize.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="assets/vendor/html5-boilerplate/dist/css/main.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="assets/css/styles.min.css" rel="stylesheet" type="text/css" media="all">
        
        <script src="assets/vendor/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
        
    </head>
    <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
         {% include "nav" %}
        
        <article>
            <div class="page-content">
            <header>
             <div class="page-title">
                <h2>{% block page-title %}{% endblock %}</h2>
            </div>
            </header>
                {% block content %}{% endblock %}
            </div>
        {% include "footer" %}
        </article>
        
        {% include "analytics" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
       <script>window.jQuery || document.write('<script src="assets/vendor/html5-boilerplate/distjs/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
      <script src="assets/scripts/plugins.js"></script>
      <script src="assets/vendor/html5-boilerplate/dist/js/main.js"></script>
    </body>
</html>
